<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/Styles/styles.css">
  <title>Registrar</title>
  <style>
    body {
      background-color: #d699dc;
    }
  </style>
</head>

<body>
  <nav>
    <div class="logo">
        <h1>TodoAseo</h1>
    </div>
    <div class="contenido">

    </div>
</nav>

  <div class="container mt-5">
    <h1>Registro de usuario</h1>
    <form>
      <div class="mb-3">
        <label for="rname" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="rname" placeholder="Nombre" required>
      </div>
      <div class="mb-3">
        <label for="rlastn" class="form-label">Apellido:</label>
        <input type="text" class="form-control" id="rlastn" placeholder="Apellido" required>
      </div>
      <div class="mb-3">
        <label for="remailuser" class="form-label">Correo:</label>
        <input type="text" class="form-control" id="remailuser" placeholder="Email" required>
      </div>
      <div class="mb-3">
        <label for="tuser" class="form-label">Teléfono:</label>
        <input type="number" class="form-control" id="tuser" placeholder="Teléfono" required>
      </div>
      <div class="mb-3">
        <label for="cuser" class="form-label">Cédula:</label>
        <input type="number" class="form-control" id="cuser" placeholder="Cédula" required>
      </div>
      <div class="mb-3">
        <label for="rpwsuser" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="rpwsuser" placeholder="Ingrese clave" required>
      </div>
      <div class="d-grid gap-2">
        <input type="button" id="registerbtn" value="Registrar" class="btn btn-primary">
      </div>
    </form>
    <p class="mt-3">¿Estás registrado? <a href="../index.html">Inicia sesión</a></p>
    <div class="d-grid gap-2">
      <input type="button" id="ingugul" value="Ingresar por Google" class="btn btn-primary">
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="../Controllers/index.js"></script>
</body>

</html>
